<div class="container p-5">
  <div class="row">
    <div class="col">
      <h1> My bookings</h1>
      <ul class="my-5">
        <% @tenant_bookings.each do |booking| %>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%= booking.boat.name %></h2>
            <p>You have booked <strong></strong> from <strong><%= booking.start_at %></strong> to <strong><%= booking.end_at %></strong>.</p>
            <div class="status">
              <%= booking.status %>
            </div>
          </div>
        </div>

        <% end %>
      </ul>
      <ul>
          <% @owner_bookings.each do |booking| %>
          <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%= booking.boat.name %></h2>
            <p>You have booked <strong></strong> from <strong><%= booking.start_at %></strong> to <strong><%= booking.end_at %></strong>.</p>
            <div class="status">
              <%= booking.status %>
            </div>
          </div>
        </div>
          <li>
            <div>
              Total price =  <%= ((booking.end_at - booking.start_at) * booking.boat.price ).to_i%> Your boat <strong><%= booking.boat.name%></strong> has been booked by <strong><%= booking.user.full_name %></strong> from <strong><%= booking.start_at %></strong> to <strong><%= booking.end_at %></strong>. <%= booking.status %>
            </div>
            <%= link_to 'Accept',  accept_owner_booking_path(booking),  method: :patch, data:{ confirm: "Are you sure you want to accept this booking?"} %>
            <%= link_to 'Decline',  cancel_owner_booking_path(booking),  method: :patch, data:{ confirm: "Are you sure you want to cancel this booking?"} %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
