<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BoatnB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <%= link_to "My bookings", my_bookings_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "My boats", owner_boats_path, class:'nav-link' %>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
        <% if !current_user %>
          <%= link_to "Log in", user_session_path, class:'nav-link' %>
        <% else %>
          <%= link_to "Log out", destroy_user_session_path,class:'nav-link' %>
        <% end %>
        </li>
        <% if current_user %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class:'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
