<h1>Boats#new</h1>
<%= form_for(@boat) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.label :category %>
  <%= f.text_field :category %>
  <%= f.label :category %>
  <%# <%= f.label :capacity %>
  <%# <%= f.integer :capacity %>
  <%# <%= f.integer :price %>
  <%# <%= f.integer :price %>
  <%= f.submit %>
<% end %>
<p>Find me in app/views/boats/new.html.erb</p>
